.activities {
	text-align: left;
	padding-bottom:75px ;
	&__container {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

	}

	&__column {
		flex: 0 1 50%;
		padding: 0 22px;
		margin-bottom: 55px;
		&:last-child {
			flex: 1 1 100%;
			margin: 0;
		}
	}

	&__tidings {
	}

	&__events {
	}

	&__subscribe {
	}
}
.tidings {

	&__header {
		margin-bottom: 15px;
	}

	&__icon {
	}

	&__content {
	}

	&__date {
		font-size: 12px;
		line-height: 25px;
		color: #bb9c66;
	}

	&__label {
	}

	&__text {
	}
}
.tidigns {

	&__title {
	}
}
.events {

	&__header {
		margin-bottom: 15px;
	}

	&__icon {
	}

	&__title {
	}

	&__content {
	}

	&__label {
	}

	&__text {
	}
}
.subscribe {
display: flex;
align-items: flex-end;
	&__text {

		font-size: 15px;
		line-height: 25px;
		padding: 0 22px;
		&-block {
			flex: 1 1 50%;
		}
	}

	&__header {
		margin-bottom: 15px;
	}

	&__icon {
	}

	&__title {
		margin-bottom: 20px;
	}

	&__form {
		flex: 1 1 50%;
		padding: 0 22px;
		form {
			border: 3px solid #bb9c66;
			display: flex;
			flex: 1 1 100%;
			height: 44px;
		}
	}

	&__email {
		flex: 1 1 0;
		background-color: none;
		border: none;
		padding: 16px 23px;
	}

	&__button {
		display: inline-flex;
		align-items: center;

		flex: 0 0 100px;
		background-color: transparent;
		border: none;
		font-size: 21px;
		line-height: 25px;
		font-family: PFDin, Arial, sans-serif;
		font-weight: 500;
		&::before {
			content: "";
			height: 32px;
			width: 1px;
			background-color: #bb9c66;
		}
		span {
			display: flex ;
			align-items: center;
			margin-left: 25px;

			&::after {
				content: "";
				margin-left: 10px;
				width: 25px;
				height: 16px;
				background: url("../img/throw.png") 0 0 no-repeat;
			}
		}

	}
}
.icon__title {
	margin-right: 12px;
}
.text-activities {
font-size: 15px;
line-height: 25px;
margin-bottom: 20px;

}
.label-activities {
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
	color: #000;
	font-family: PTSansNarrow-Bold, Arial, sans-serif;
	font-weight: 500;
}
@media(max-width: $md3) {
	.activities {

		&__row {
			display: block;
		}
}
.subscribe {
	display: block;
	&__text {
		display: block;
	}
	&__form {
		display: block;
	}
}


}