.main-footer {
	background-color: #1c242a;
	padding: 45px 0 45px 0;
}
.footer {
	&__body {
		display: flex;
	}
	&__container {
	}

	&__logo {
		flex: 0 0 180px;
		&-link {
			display: block;
			margin-bottom: 5px;
			
		}
	}

	&__logo-copyright {
		color: #bb9c66;
	}

	&__navigation {
	}

	&__contacts {
		padding-top: 12px;
		text-align: right;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	&__contacts-phone {
		display: flex;
		align-items: flex-start;
		color: #bb9c66;
		font-family: BravoRegular, Arial, sans-serif;
		font-size: 50px;
		white-space: nowrap;
		text-transform: uppercase;
		small {
			margin:2px 5px 0 0;
			font-size: 25px;
		}
	}

	&__callback {
		color: #bb9c66;
		padding-left: 10px;
		background: url("/img/backthrow.png") left no-repeat;
		span {
			background: none;
			color: #bb9c66;
			border-bottom: 1px dashed #bb9c66;
			&:hover {
				border-bottom: none;
			}
		}
	}
	&__column-full {
		flex: 1 1 auto
	}
}
.footer-navigation {
	padding: 0 25px;
	&__item {
		margin: 5px 15px 0 0;
	}

	&__link {
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1px;
		color: #fff;
		text-transform: uppercase;
		font-family: PFDin, Arial, sans-serif;
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}
}
@media(max-width: $md3) {
	.footer {
		&__body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

			&__body {

			}
			&__container {
			}
		
			&__logo {
				flex: 0 0 100px;

			}
			&__column-full {
				margin-bottom: 20px;
			}
			&__contacts {
				align-items: center;
				&-phone {
					margin-bottom: 5px;
					font-size: 35px;
				}
			}
}
.footer-navigation {

	&__item {

	}

	&__link {

	}
	&__wrap {
		justify-content: center;
	}
}
}