.news {
text-align: center;
padding: 64px 0 75px 0;
	&__container {
	}

	&__header {
	}
}

.block-header {

	&__title {
	}

	&__decor {
	}
}
.title {

	&__item {
	}

	&__main {
	}
}
.block-decor {

	&__items {
	}

	&__items-prev {
	}

	&__icon {
	}

	&__items-next {
	}
}
.news-slider {
	&__controls {

	}

	&__body {
		flex: 0 1 515px;
	}

	&__list {
	}

	&__item {
		opacity: 0 !important; 
		display: flex;
		align-items: center;
		&.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__image {
		padding: 0 20px;
		flex: 0 0 33.333%;
		img {
			max-width: 100%;
		}
	}

	&__text {
		margin-bottom: 30px/25px * 1em;
		text-align: left;
		font-size: 25px;
		line-height: 30px;
		font-style: italic;
	}

	&__author {
		text-align: left;
		font-size: 15px;
		line-height: 25px;

	}
.control-slider-news {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 400px;
		&__decor {
			display: flex;
			align-items: center;
			height: 1px;
			flex: 0 1 33.333%;
			&:last-child {
				flex-direction: row-reverse;
				&:after {
					margin: 0 5px 0 0;
				}
			}
			&::before {
				content: "";
				flex: 1 1 auto;
				height: 1px;
				background-color: #bb9c66 ;
			}
			&::after {
				content: "";
				margin: 0 0 0 5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 1px solid #bb9c66;
			}
		}

		&__link {
			flex: 0 1 33.333%;
		}
		&__circle {
			display: inline-flex;
			width: 50px;
			height: 50px;
			background: url("../img/refresh.png") 0 0 no-repeat;
			animation-name: rotatenews;
			animation-timing-function: linear;
			animation-duration: 4s;
			animation-iteration-count: infinite;
			outline: none;
			border-radius: 50%;
			overflow: hidden;
			cursor: pointer;
		}
}

}
@keyframes rotatenews {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}