
body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	line-height: 27px;
	font-family: "PTSansNarrow-Regular", "Arial", sans-serif;
	color: #000;
	font-size: 14px;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute !important;

	clip: inset(100%);
	clip: rect(0 0 0 0);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	margin: -1px;

	white-space: nowrap;

	overflow: hidden;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}