
.top-navigation {
	background-color: $bg-darkgrey;
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		height: 75px;
	}

	&__logo {
		width: 144px;
	}

	&__menu {
	}
}

.menu {
	padding: 0 0 0 30px/950px*100%;
	flex: 1 1 auto;
	&__icon {
	}

	&__body {
	}

	&__site {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin: 0 15px;
	}

	&__link {
		font-family: "PFDin";
		text-transform: uppercase;
		letter-spacing: 1.4px;
		color: #ffffff;
		&:hover {
			text-decoration: underline;
	}
	}
}
.icon-menu {

	&__image {
	}
}
.top_navigation {

	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.actions {
	display: flex;
	align-items: center;
	&__region {
		@extend .menu__link;
		padding: 0 0 0 30px;
		line-height: 18px;
		background: url("../img/globe.png") left no-repeat;
	}

	&__user {
		margin: 0 0 0 30px;
	}
}
.user-header {
	&__icon {
		cursor: pointer;
		img {
			padding-top: 5px;
		}
	}

	&__menu {
		margin: 0;
		opacity: 0;
		position: absolute;
		visibility: hidden;
		top: 88px;
		right: 0;
		background-color: $bg-darkgrey;
		padding: 5px 20px 20px 20px;
		transition: all 0.13s ease 0s;
		&._active {
			top: 78px;
			opacity: 1;
			visibility: visible;
		}
	}

	&__item {
		line-height: 25px;
	}

	&__link {
		display: inline-block;
		padding-left: 30px;
		color: #fff;
		&:hover {
			text-decoration: underline;
	}
	}

	&__link-1 {
		background: url("../img/globe-icon.png") 1px no-repeat;
	}

	&__link-2 {
		background: url("../img/key-icon.png") left no-repeat;
	}

	&__link-3 {
		background: url("../img/palm-icon.png") 4px no-repeat;
	}

	&__link-4 {
		background: url("../img/Lhammer-logo.png") left no-repeat;
	}
}

@media (max-width: 890px) {

.menu {

	&__link {
		&:hover {
			text-decoration: none;
	}
	}
}

.actions {

	&__region {
		padding: 0;
		width: 18px;
		height: 18px;
		padding-right: 15px;
	}

	&__user {
		margin: 0 0 0 15px;
	}
	&__region-dissolve {
		font-size: 0;
	}
}
.user-header {

	&__link {
		&:hover {
			text-decoration: none;
	}
	}

}
}

@media (max-width: $md3) {
.icon-menu {
	margin-left: 10px;
	position: relative;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	&__image {
		top: calc(50% - 1px);
		right: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
		&-1{
			top: 0px;
		}
		&-3 {
			top: auto;
			bottom: 0px;
		}
	}
}
.menu {
	&__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&:after {
			content: "";
			display: none;
			background-color: $bg-darkgrey;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 75px;
		}
	}
}
.top-navigation {
	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
}