.item-main-slider {
	padding: 100px 0 0 0;
	position: relative;
	text-align: center;
	&__content {
		display: flex;
		height: 100%;
		position: relative;
		z-index: 2;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		flex: 1 1 auto;
		margin: 25px auto 0;
		max-width: 700px;
		color: #fff;
		font-size: 15px;
		line-height: calc(25/15);
	}

}

._top-main {

	&__button {
		margin-top: 25px;
		margin-bottom: 100px;
	
	}
}

.main-slider {
	.swiper-wrapper {

		align-items: stretch !important;
	}
	position: relative;
	&__control {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 50%;
		bottom: 0px;
		width: 70px;
		height: 70px;
		transform: translate(-50%, 50%);
		z-index: 3;
	
	&::after {
		content: "";
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: rotate(-45deg);
	}
}
}
.control-main-slider {

	&__arrow {

		&_prev {
			background: url("../img/throw-side.png") 0 0 no-repeat;
			width: 14px;
			height: 24px;
			z-index: 2;
		}

		&_next {
			background: url("../img/throw-side.png") 0 0 no-repeat;
			width: 14px;
			height: 24px;
			z-index: 2;
			transform: rotate(180deg);
		}
	}

	&__decor {
		line-height: 0;
		position: relative;
		z-index: 2;
		margin: 0 12px;
		animation-name: slide-rotate;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}
@keyframes slide-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


